.header {
    height: 75vh;
    background:     linear-gradient(
      rgba(218, 45, 45, 0.35), 
      rgba(218, 45, 45, 0.35)
    ), url(../Resources/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    display: inline-block;
    line-height: 75vh;
}

.header span {
    display: inline-block;
    vertical-align: middle;
    line-height: 12vh;
    font-size: 3vh;
}

.header .maintext {
    font-size: 20vh;
}

.footer {
    background-color: #272822;
    color: white;
    text-align: center;
    height: 25vh;
}

.navbar-fixed {
    background-color: #272822;
    position: fixed;
    display: block;
    z-index: 500;
    height: 100vh;
    width: 16.67vw;
}

.navbar-fixed .active {
    background-color: #da2d2d;
}

.navbar-fixed ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-fixed ul li a {
    background-color: #272822;
    color: white;
    display: block;
    text-align: center;
<<<<<<< HEAD
    padding: 1.5em 1em;
=======
    text-decoration: none;
    padding: 0.5em 1em;
>>>>>>> 9310c36c6444c47fa74fb0742e0aace1f0f5816d
}

.navbar-fixed ul li a:hover {
    background-color: #da2d2d;
    cursor: pointer;
}

.logo {
    width: 100%;
    padding: 1em;
}

.format-padding {
    padding: 0;
}
